@use "../abstracts" as*;


body {
    font-family: "Lato", sans-serif;
    font-size: $default-font-size;
    font-weight: 400;
    line-height: 1.7;
    color: $color-tertiary-dark;
}

.heading-primary {
    font-family: "Playfair";
    font-size: 8rem;
    color: $color-white;

    &--main {
        color: $color-white;
        display: block;
        font-weight: 700;
        text-align: center;
    }

    &--sub {
        color: $color-grey;
        font-family: "Lato";
        font-size: 2rem;
        display: block;
        text-align: center;
    }
}

.heading-secondary {
    font-family: "Playfair";
    font-size: 3.6rem;
}

.heading-tertiary {
    font-family: "Playfair";
    font-size: 2.4rem;
}

.paragraph {
    font-family: "Lato";
    font-size: 1.6rem;
    color: $color-grey-dark;

    &__search {
        font-size: 1.2rem;
        text-align: start;

        &--main {
            color: $color-grey;
        }

        &--sub {
            color: $color-grey-dark-3;
            font-size: 1.6rem;
            font-weight: 700;
        }
    }

    &__destinations {
        display: inline-block;
    }
}